.CodeMirror-scroll, .CodeMirror-gutter, #code-editor {
	background-color: #555555; /* 2e2e2e */
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}

:root {
	--quantity: 1;
}

#top {
	position: fixed;
	width: 100%;
	height: 90%;
	display: grid;
	grid-template-rows: 11.11% 88.89%;
}

footer {
	background-color: #efefef;
	color: #dedede;
	padding: 0px;
	position: absolute;
	top: 90%;
	left: 0;
	height: 10vh;
	width: 100%;
	background-color: rgba(239, 239, 239, .2); /*239*/
	overflow: hidden;
	scrollbar-color: transparent;
	align-items: center;
	justify-content: center;
}

#footer-content {
	width: 100%;
	height: 100%;
	padding: 10px;;
}

.close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: white;
	background-color: transparent;
	border: 0px;
	font-size: 24px;
	cursor: pointer;
}

.bi-play-fill {
	opacity: .5;
}